.login-bg {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 28px 0 rgba(31, 38, 135, 0.27);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.login-container {
  width: 300px;
  height: 350px;
}

.login-inner {
  padding: 50px 30px;
}

.lable {
  color: aliceblue;
  font-size: 15px;
}

.login-btn {
  background: #215c70 !important;
  border-color: #215c70 !important;
}

input:hover,
input:focus {
  border-color: #215c70 !important;
}
