.newtest-steps-holder {
  width: 80%;
  margin-left: 10%;
}
.new-test-form-holder {
  padding-top: 30px;
}
.basic-test-form-outer {
  width: 36%;
  margin-left: 33%;
  padding: 35px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.2);
}
.list1-question-new-test {
  padding: 0px;
}
.random-question-generation {
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}
.blind {
  display: none;
}
.notblind {
  display: block;
}
